
@{
    ViewBag.Title = "入库信息折线图查询";
}

@using TelerikMvcApp3.Models
<div class="placeholders">
    <div class="row d-flex justify-content-start" style="margin-top: 2em;">
        <div class="col-2">
        </div>
        <div class="col-2 text-center align-content-center">
            <p>开始日期</p>
            <p>
                @(Html.Kendo().DateTimePicker()
                               .Name("startc1")
                               .Value(DateTime.Today)
                               .Max(DateTime.Today.AddDays(1))
                               .ParseFormats(new[] { "yyyy年MM月dd日HH时" })
                               .Events(e => e.Change("startChangec1"))
                             .WeekNumber(true)
                               .HtmlAttributes(new { style = "width:100%;" }))
                </ p >
        </div>
        <div class="col-2 text-center">
            <p>结束日期</p>
            <p>
                @(Html.Kendo().DateTimePicker()
                               .Name("endc1")
                             .WeekNumber(true)
                               .Value(DateTime.Now).ParseFormats(new[] { "yyyy年MM月dd日HH时" })
                               .Events(e => e.Change("endChangec1"))
                               .HtmlAttributes(new { style = "width:100%;" })
                )
            </p>
        </div>
        <div class="col-3 text-center">
            <p>资料种类</p>
            <p>
                @(Html.Kendo().MultiSelect()
      .Name("selectsc1")
      .TagMode(TagMode.Multiple)
      .DataTextField("表名称").DataValueField("数据库表名称")
      .Placeholder("请选择待查询数据种类")
      .DataSource(source => source
          .Custom()
          .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetCustomers", "RKTJ").Data("onAdditionalDatac1");
            }))
          .ServerFiltering(false))
                    .AutoClose(false)
                )
            </p>


        </div>
        <div class="col-1">

            <p style=" position:absolute;bottom:0;">
                @(Html.Kendo().Button()
                             .Name("cxButtonc1")
                             .Content("查询")
                             .Icon("search")

                             .HtmlAttributes(new { @class = "textButton k-primary" })
                    .Events(ev => ev.Click("cxClickc1")))
            </p>
        </div>

    </div>
    <div class="row " style="margin-top: 2em;">
        <div class="col-1">

        </div>
        <div class="col-10">
            @(Html.Kendo().Chart<SKViewModel>()
        .Name("c1")
        .Title("Stock Prices")
        .DataSource(dataSource => dataSource
            .Read(read => read.Action("Orders_Read3", "RKTJ").Data("additionalDatac1"))
            .Group(group => group.Add(model => model.名称))
            .Sort(sort => sort.Add(model => model.时间).Ascending())
        )
        .Series(series => {
            series.Line(model => model.统计个数)
                 .Name("#= group.value #").CategoryField("时间");
        })
                .CategoryAxis(axis => axis
        .Date()
        .BaseUnit(ChartAxisBaseUnit.Hours)
    )
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .ValueAxis(axis => axis.Numeric()
            .Labels(labels => labels.Skip(2)
                .Step(2)
            )
        )
                .Tooltip(tooltip => tooltip
            .Visible(true)
            .Shared(true)
            .Format("{0:N0}")
        )
                )

        </div>
    </div>
</div>
